<div class="card card-body bg-light">
  <p>
    <a routerLink="/lugares">Lugares</a>/ Contacto
  </p>
</div>

<div class="container mt-2">
  <label>Nombre:</label>
    <input type="text" class="form-control">
  <br>
  <label>Correo:</label>
    <input type="email" class="form-control">
  <br>
  <label>Mensaje:</label>
    <textarea class="form-control"></textarea>
  <br>
  <hr>
    <a class="btn btn-primary text-white">Enviar</a>
    <a class="btn btn-default" routerLink="/lugares">Cancelar</a>
</div>
