<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--// String Interpolation-->
    <h1>
      Welcome to {{ title }}!
    </h1>
  <!--//forma de escribir lo que tengo en TS en Html-->
  <hr/>
    <!--
      Property Binding
    -->
    <!--<button [disabled]="false">Click me!</button>-->

  <!--Forma con variable-->
    <button [disabled]="!ready">Click me!</button>

  <!--Event Bindding-->
  <button [disabled]="!ready" (click)="hacerAlgo()">Click me!</button>

  <hr/>
<!--
      Two ways DataBinding
-->
    <input
        type="text" name="" placeholder="Nombre" value=""
        [(ngModel)]="nombre"
     />
     <p>
       Mi nombre es {{nombre}}
     </p>
</div>



<hr>
Maps
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>


<hr>
<!-- ngFor -->
  <ul>
    <ng-container *ngFor="let lugar of lugares">
      <li *ngIf="lugar.active">{{lugar.nombre}}</li>
    </ng-container>
  </ul>

  <ul>
    <ng-container *ngFor="let lugar of lugares; let i = index">
      <li [ngStyle]="{color:(lugar.active) ? 'black':'grey'}" [ngClass]='{numeroPar:(i + 1) % 2 !== 0}'>{{lugar.nombre}}</li>
    </ng-container>
  </ul>
