<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <!--// String Interpolation-->
    <h1>
      Welcome to {{ title }}!
    </h1>
  <!--//forma de escribir lo que tengo en TS en Html-->


  <hr/>
    <!--
      Property Binding
    -->
    <!--<button [disabled]="false">Click me!</button>-->

  <!--Forma con variable-->
    <button [disabled]="ready">Click me!</button>


  <!--Event Bindding-->
  <button [disabled]="ready" (click)="hacerAlgo()">Click me!</button>


</div>
